# Configuração do Servidor
PORT=3000

# Chave Secreta para Validação do Webhook (Crie uma string aleatória)
WEBHOOK_SECRET=sua_chave_secreta_aqui

# URL de Conexão com o Banco de Dados Neon (PostgreSQL)
DATABASE_URL=postgresql://usuario:senha@host/banco?sslmode=require