# Ignorar as credenciais e chaves secretas locais
.env

# Ignorar a pasta de dependências do Node (ela é gigante e recriada com npm install)
node_modules/

# Ignorar a pasta de compilação do TypeScript (caso você gere a pasta dist/ ou build/)
dist/
build/

# Ignorar logs de erro do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar pastas de configuração de IDEs (opcional, mas boa prática)
.vscode/
.idea/